<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mldt.puppypals">

    <application
        android:name=".PuppyPalsAmplifyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuppyPals"
        tools:targetApi="31">
        <activity
            android:name=".Activities.AddEvent"
            android:exported="false" />
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        <activity
            android:name=".Activities.AddDog"
            android:exported="false" />

        <activity
            android:name=".Activities.AboutPage"
            android:exported="false" />
        <activity
            android:name=".Activities.LogIn"
            android:exported="false" />
        <activity
            android:name=".Activities.Verify"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".Activities.UploadImage"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.OtherProfileSettings"
            android:exported="false" />
        <activity
            android:name=".Activities.OwnProfileSettings"
            android:exported="false" />
        <activity
            android:name=".Activities.EventDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>